<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AQeqe_Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AQeqe_Portfolio.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
       
            <div class="side_tabs">
            <a href="mailto:odwaqeqe@gmail.com">Email</a> @* (SheCodes, 2023) *@
                <a href="#">Images</a>
            </div>

            <div class="profile_photo"></div>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@* SheCodes, 2023. [HTML] - How to link an email in HTML? [online] Shecodes.io. Available at: <https: //www.shecodes.io/athena/63954-how-to-link-an-email-in-html#:~:text =To%20create%20an%20email%20link%20in%20HTML%2C%20you%20can%20use,to%20the%20specified%20email%20address.&text =In%20this%20example%2C%20replace%20%22recipient,your%20message%22%20after%20the%20subject.&text =In%20this%20example%2C%20when%20the,%22How%20are%20you?%22.> [Accessed 1 July 2025]. *@