@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>

<body>

    <div class="heading">
        <h1>
            <span style="color:#4285F4">A</span>
            <span style="color:#DB4437">.</span>
            <span style="color:#F4B400">Q</span>
            <span style="color:#4285F4">e</span>
            <span style="color:#0F9D58">q</span>
            <span style="color:#DB4437">e</span>
        </h1>
    </div>

<div class="container">
        <form action="" class="search_bar">
         <input type="text" placeholder="Search A.Qeqe ...">
    </form>
    </div>


<div class="tabs">

    <div class="tab1">
        <img src="/images/resumeLogo.png">
    </div>

    <div class="tab2">
            <a href="https://github.com/Ali14-coder"><img src="/images/githubLogo.png"></a>
    </div>

    <div class="tab3">
            <a href="#"><img src="/images/linkedInLogo.png"></a>
    </div>

</div>

<div class="labels">
        <div class="label1">Resume</div>

        <div class="label2">Github</div>

        <div class="label3">LinkedIn</div>
</div>

</body>
</html>
